player-connection-mode=Listen
player-connection-guid=3261475541
player-connection-debug=0
player-connection-project-name=Aiscreenu
player-connection-ip=100.114.159.1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=aae63aa008e34294af2c0aae31a0bbde
